.counter{
display: flex;
justify-content: center;
}

.title{
text-align: center;
font-size: 1.7rem;
color: rgb(6, 97, 97);
}

body{
  background-color: lightcoral
}

span{
  display:flex;
  margin: 10px;
}

button{
  width: 75px;
  font-size: 1.7rem;
  border: 3px solid;
  border-radius: 20px;
}